<div class="m-3">
  <h1>Stupid Coach Challenge</h1>
  <h2>Your question was</h2>
  <%= @question %>
  <h2>Your coach answers:</h2>
  <%= @answer %>
  <div><%= link_to 'Ask again!', ask_path %></div>
</div>
