<div class="container my-3">
  <h1>Ask your question here :)</h1>
  <form action="/answer">
    <div class="form-group my-3">
      <input type="text" name="question" placeholder="What are you looking for?">
    </div>
    <div class="form-group my-3">
      <input type="submit" value="Ask your coach!">
    </div>
  </form>
</div>
