<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>I'm your coach!!</h1>
  <p>Ask me a question!</p>
  <form action="answer">
    <input type="text" name="question" placeholder="Type here">
    <input type="submit" value="Ask!">
  </form>
</body>
</html>


